body, html {
    background: slategray;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    font-family: 'Courier New', monospace;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.center-box {
    border-radius: 10px;
    background: rgba(0, 0, 0, 1);
    padding: 1%; /* Padding to make the box larger than the scene */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    /* Minimum size relative to the viewport */
    min-width: 70vw;
    min-height: 60vh;

    /* Maximum size limits */
    max-width: 95vw;
    max-height: 95vh;
}

.center-box > canvas {
    width: 95%; /* Fill the width of the .center-box minus padding */
    height: 95%; /* Fill the height of the .center-box minus padding */
    display: block; /* Remove extra space beneath the canvas */
}

.title-container {
    position: absolute;
    top: 10px;
    align-content: center;
    color: white;
}