body, html {
    background: slategray;
    height: 100%;
    margin: 0;
    box-sizing: border-box; /* Include padding in the height calculation */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: flex-start; /* Align children to the start */
}

h1 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto; /* Center the title horizontally */
    width: 100%; /* Full width to center the text correctly */
    text-align: center; /* Center the text */
    padding: 5px;
}


.center-box {
    border-radius: 10px;
    background: rgba(0, 0, 0, 1);
    padding: 0.1%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    min-width: 90vw;
    min-height: 90vh;
    max-width: 95vw;
    max-height: 95vh;
}

.center-box > canvas {
    width: 95%; /* Fill the width of the .center-box minus padding */
    height: 95%; /* Fill the height of the .center-box minus padding */
    display: block; /* Remove extra space beneath the canvas */
}

.title-container {
    text-align: center;
    color: white;
    z-index: 10; /* Ensure the title is above other elements */
}